* {
  box-sizing: border-box;
}

body {
  background-color: #4366a0;
  font-size: 16px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
}

h1::after {
  content: " ";
  display: block;
  margin: 20px auto 50px;
  position: relative;
  width: 100px;
  height: 5px;
  background: #5b84c4;
}

.container {
  margin: 200px auto;
  width: 100%;
  padding: 0 20px;
  max-width: 480px;
}

@media (min-width: 960px) {
  .container {
    max-width: 800px;
  }
}

.row {
  position: relative;
}

@media (min-width: 960px) {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -webkit-flex: row no-wrap space-between;
        -ms-flex: row no-wrap space-between;
            flex: row no-wrap space-between;
  }
}

.row.centered {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

@media (min-width: 960px) {
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"] {
    width: 50%;
    margin-right: 15px;
  }
  form input[type="text"]:nth-child(2n+2),
  form input[type="email"]:nth-child(2n+2),
  form input[type="tel"]:nth-child(2n+2) {
    margin-right: 0;
  }
}

form input[type="text"].error,
form input[type="email"].error,
form input[type="tel"].error {
  box-shadow: 0 0 5px red;
}

form input[type="text"].valid,
form input[type="email"].valid,
form input[type="tel"].valid {
  box-shadow: 0 0 5px green;
}

form input[type=checkbox] {
  display: none;
}

form input[type=checkbox] + label {
  color: #fff;
}

form input[type=checkbox] + label:before {
  color: #fff;
  width: 20px;
  margin-right: 5px;
  content: "\f096";
  font-size: 20px;
  font-family: "FontAwesome";
  display: inline-block;
}

form input[type=checkbox]:checked + label:before {
  content: "\f046";
}

form .button {
  background-color: #5b84c4;
  display: inline-block;
  width: auto;
  margin: 15px 0;
  text-align: center;
  padding: 15px 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

form .button:hover {
  background-color: rgba(91, 132, 196, 0.9);
}

.error-msg {
  display: none;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-msg label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

#success {
  display: none;
  padding: 10px;
  border: 1px solid #5b84c4;
  background-color: #fff;
  text-align: center;
  color: #5b84c4;
}
